* {
    padding: 0;
    margin: 0;
}

.head {
    background-color: #FFF;
    height: 100px;
    width: 100%;
    padding: 25px;
    display: flex;
    border-color: black;
    border-bottom: solid;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: 50%;
}

.pesquisa input {
    border-radius: 15px;
    width: 200px;
    background-color: #ffffff;
}

#lupa {
    background: url(./img/lupa.png) no-repeat right / 1.3em;
    padding-left: 1.3em;
    background-color: #cfcfcf;
}

.corpo {
    background-color: #FFD43E;
    height: 100vb;
    width: 100%;
}

.brasil,
.shop,
.user {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.mmlogo {
    position: absolute;
    margin-left: 43%;
    margin-top: 30px;
}

.mmcanto1 {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.mmcanto2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

#home{
    background-color: #ffeba4;
    width: 1000px;
    height: 350px;
    position: absolute;
    top: 30%;
    left: 17%;
    border-radius: 500px;
    text-align: center;
    justify-content: center;
}

.carrossel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.corpoProd {
    background-color: #f3f6fb;
    height: 100vb;
    width: 100%;
}

#produtos{
    display: flex;
    align-items: center;
    justify-content: center;
}

#produtos img{
    margin-top: 4em;
}

.corpoFale {
    background-color: #07a733;
}

.contato{
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}


#bodyLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD43E;
}
#login{
    width: 50em;
    padding: 2em;
    border-radius: 3em;
    margin-top: 7em;

    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    background-color: #ffeba4;
}
#login h1{
    text-align: center; 
}

/* Página Cadastro */
#cadastro{
    width: 40em;
    padding: 2em;
    border-radius: 3em;
    margin-top: 5em;
    margin-bottom: 5em;

    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    background-color: #ffeba4;
}
#cadastro h1{
    text-align: center; 
}


/* Página Senha */
#senhaconf{
    width: 50em;
    padding: 2em;
    border-radius: 3em;
    margin-top: 9em;

    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    background-color: #ffeba4;
}
#senhaconf h1{
    text-align: center; 
}